{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "semi": true,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "functionParentheses": false
}